* {
    margin: 0;
    padding: 0;
}

body{
    font-family:'Times New Roman', Times, serif;
}
section{
    height: 25vh;
    background-color: grey;
    color: white;
}

section:nth-child(even){
    background-color: white;
    color: black;
}

h1{
    font-size: 2.5em;
    text-decoration-line: underline;
}

p{
    font-size: 1em;
}

hr{
    border-color: red;
    width: 33%;
}
