*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
    height: 100vh;
}

.div1{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: pink;
}

.div2{
    grid-column: 1/5;
    grid-row: 2/3;
    height: 1fr;
    background-color: green;    
}

.div3{
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: pink;
}