* {
    margin: 0;
    padding: 0;
}

/* globaL */

.dFlex {
    display: flex;
}

.dGrid {
    display: grid;
}

.spBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.justifyContentCenter {
    justify-content: center;
}

.textWhite {
    color: white;
}

.textGray {
    color: gray;
}

.textAlignCenter {
    text-align: center;
}

.padding10 {
    padding: 10px;
}

.paddingY10 {
    padding: 10px 0px;
}

.marginX10 {
    margin: 0px 10px;
}

.gap1 {
    gap: 1rem;
}

.gap10px {
    gap: 10px;
}

.borderRadius3 {
    border-radius: 3px;
}

.pointer {
    cursor: pointer;
}

.marginTop100 {
    margin-top: 100px;
}

.marginBottom50 {
    margin-bottom: 50px;
}

.fontSize2{
    font-size: 2em;
}

.hotelPrice{
    font-size: 2em;
}

/* body */
body{
    font-family: 'Roboto', sans-serif;
}

.container {
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
    background-color: lightgray;
}

/* aside */
.asideCard {
    background: url(./images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.637);
    background-blend-mode: color;
    padding: 1rem;
    overflow-y: scroll;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.asideList {
    margin: 10px 0;
    grid-template-columns: auto 1fr auto;
}

.asideList p{
    padding-right: 50px;
}

.asideListInfo{
    grid-template-columns: auto 1fr auto;
}

.asideList:hover:not(.active, .logo, .profile) {
    background-color: rgba(211, 211, 211, 0.2);
}

.active {
    background-color: red;
}


/* header */

.iconShadowbox {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.2);
}

.searchBar {
    padding: 7px;
    background-color: transparent;
    border: transparent;
    border-bottom: solid darkgray;
    outline: none;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.searchBar:focus {
    padding: 7px;
    background-color: transparent;
    border: transparent;
    border-bottom: solid purple;
}


.notification {
    position: relative;
}

.notificationsNumber {
    position: absolute;
    top: -7px;
    left: 7px;
}

.notificationsList {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 20px;
    display: none;
    background-color: white;
    width: 250px;
}

.notification:hover .notificationsList {
    display: block;
    cursor: pointer;
}

.notificationsList p {
    padding: 10px;
}

.notificationsList p:hover {
    background-color: red;
    color: white;
    border-radius: 3px;
}

.notificationsNumber {
    height: 20px;
    width: 20px;
    background-color: red;
    border: solid 2px white;
    border-radius: 50%;
}

.header2 {
    display: none;
}

/* main */

.mainContainer {
    padding: 20px 50px;
    overflow-y: scroll;
}

.mainCard {
    background-color: white;
}

.languageIcon {
    background-color: green;
}

.salesDiv {
    grid-template-columns: auto 1fr;
    padding: 20px;
}

.salesCard {
    padding: 20px;
}

.salesList {
    padding: 10px;
}

iframe {
    width: 100%;
    height: 100%;
}

.card {
    background-color: white;
    margin-bottom: 50px;
    padding: 10px;
}

.cardContainer {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.cardIcon {
    padding: 20px;
    width: 20px;
    height: 20px;
    margin-top: -30px;
}

.couchIcon {
    background-color: orangered;
}

.equalizerCard {
    background-color: mediumvioletred;
}

.storefrontIcon {
    background-color: green;
}

.PublicIcon {
    background-color: cornflowerblue;
}

.listingImage {
    transform: translateY(-25px);
    transition-duration: 300ms;
}

.cardHeader {
    position: relative;
}

.listingImageMenu {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    visibility: hidden;
}

.cardHeader:hover .listingImage {
    transform: translateY(-45px);

}

.cardHeader:hover .listingImageMenu {
    visibility: visible;
}


.imageWidth {
    width: 100%;
}

.listingCardContainer {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}

/* footer */

footer {
    padding: 50px 0px 40px 0px;
}

.footerDiv{
    flex-wrap: wrap;
}

/* responsive */

/* TABLET */

@media (max-width: 1000px) {

    .asideCard {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .salesDiv {
        grid-template-columns: 1fr;
    }

    .listingCardContainer {
        grid-template-columns: 1fr;
    }

    .header1 {
        display: none;
    }

    .header2 {
        display: flex;
    }
}

/* PHONE */

@media (max-width: 600px){
    .asideCard {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .salesDiv {
        grid-template-columns: 1fr;
    }

    .cardContainer{
        grid-template-columns: 1fr;
    }

    .listingCardContainer {
        grid-template-columns: 1fr;
    }

    .header1 {
        display: none;
    }

    .header2 {
        display: flex;
    }

    .hotelPrice{
        font-size: 1em;
    }

}