* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p {
    background: rgb(255, 31, 2);
    background: linear-gradient(90deg, rgba(255, 31, 2, 1) 0%, rgba(228, 216, 24, 1) 40%, rgba(0, 212, 255, 0.804359243697479) 94%);
    margin: 20px 5px 20px 5px;
}
ul, a{
    color: white;
    background-color: black;
    opacity: 50%;
    margin: 20px 5px 20px 5px;
    padding: 5px 20px 5px 20px;
}